<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <div style="color:rgb(0, 153, 255)">Products DIRECTORY</div>
    <ul>
         
        <li style="color: rgb(96, 81, 179);">NAME: {{products.0.name}}, &nbsp&nbsp   PRICE: {{products.0.price}},   &nbsp&nbsp    QUANTITY: {{products.0.quantity}}</li>
         
    </ul>
</body>
</html>